<h1>Eksisterende profil:</h1>
<form action="/email">
  <label for="email"> Email addresse  </label>
  <input type="email">
  <br><br><br>
  <label for="Brugernavn">Brugernavn  </label>
  <input type="bruger">
  <br>
  <br>
  <br>
  <button>
    Log på
  </button>
  <h4>
    Glemt brugernavn?</h4>
    <button ><u> Tryk her</u></button>

  <h1>Ny bruger? Opret profil her:</h1>
<form action="/email">
  <label for="email"> Email addresse  </label>
  <input type="email">
  <br><br><br>
  <label for="Brugernavn">Brugernavn  </label>
  <input type="bruger">
  <br>
  <br>
  <br>
  <button>
    Opret
  </button>
  <h5>Bekræft din oprettelse på din mail</h5>
</form>



