<style>
  :host {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:black;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: gray;
    color: white;
    font-weight: 3000;
  }

/* så knapperne bliver pæne */
  .toolbar #Cinnema-logo {
    height: 50px;
    margin: 50 80px;
  }
/* så den ikke går op i baren */
  .content {
    display: flex;
    margin:80px auto 10px;
    padding: 10 16px;
    max-width: 960px;
    flex-direction: column;
    align-items:center;
  }
  /* alligned to eachother */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
/* knapperne */
  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: black;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }


/* knap størrelse */
  .card.card-small {
    height: 16px;
    width: 168px;
  }
/* design effekt */
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 20 30px 17px rgba(0, 0, 0, 0.35);
  }
/* text farve */
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }


</style>
<!-- kald -->
<!-- <app-genre></app-genre>
<app-movies></app-movies>
<app-contact></app-contact>
<app-user-profile></app-user-profile> -->

<div class="toolbar" role="banner">
  <img
    width="40"
    alt="cinnema Logo"
    src="https://www.naesbib.dk/sites/default/files/nfbio_pos_rgb_lille.png " height="60px" width="60px"
  />
  <span> Cinnema</span>
    <div class="spacer"></div>
</div>
<!-- log ind og ud -->
<div class="toolbarlog">
  <button>log</button>>
  </div>

<div class="content" role="main">

  <div class="menu">

<nav>
  <input type="hidden" #selection>
    <div class="card-container">
      <div class="card card-small" (click)="selection.value = 'Movie'" tabindex="0">
          <a routerLink ="/Movies" routerLinkActive ="active">Movies</a>
      </div>

      <div class="card card-small" (click)="selection.value = 'logon'" tabindex="0">
          <a routerLink ="/Profile" routerLinkActive ="active">Log på Profil</a>
       </div>

      <div class="card card-small" (click)="selection.value = 'kontakt'" tabindex="0">
        <a routerLink ="/Info" routerLinkActive ="active">Kontakt</a>
      </div>
      <div class="card card-small" (click)="selection.value = 'voresfilm'" tabindex="0">
        <a routerLink ="/Poster" routerLinkActive ="active">vores film</a>
      </div>
  </div>
</nav>


<router-outlet></router-outlet>

