<p>Vælg de sæder du ønsker at booke</p>
<style>
  .seat {
    position: relative;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .seat:hover {
    display: block;
  }
  .desc {
    padding: 19px;
    text-align: center;
  }
  </style>
   <!-- <select [(ngModel)]="Tseat" name= "Tseat">
    <option *ngFor="let item of tseats" [ngValue]="item">{{item}}</option>
  </select>  -->
  du har valg filmen:
  <br>
<label for="">Titel: {{movie.tittle}}</label><br>
<label for="">Desciption: {{movie.description}}</label><br>
<label for="">ID: {{movie.movieId}}</label><br>
<label for="">ReleaseDate: {{movie.releaseDateTime}}</label>
<br><br><br>

  <div  >
  <img src="https://www.officesigncompany.com/images/products/detail/exit-door-sign.jpg" alt="1" width="30" height="15">
  <button><img src="https://previews.123rf.com/images/happymay/happymay1404/happymay140400049/27173743-single-cinema-seat.jpg" alt="1" width="30" height="30"></button>
  <button><img src="https://previews.123rf.com/images/happymay/happymay1404/happymay140400049/27173743-single-cinema-seat.jpg" alt="1" width="30" height="30"></button>
  <button><img src="https://previews.123rf.com/images/happymay/happymay1404/happymay140400049/27173743-single-cinema-seat.jpg" alt="1" width="30" height="30"></button>
  <button><img src="https://previews.123rf.com/images/happymay/happymay1404/happymay140400049/27173743-single-cinema-seat.jpg" alt="1" width="30" height="30"></button>
  <img src="https://www.officesigncompany.com/images/products/detail/exit-door-sign.jpg" alt="1" width="30" height="15">
  </div>

