<style>
  /* sonic */
.plakat {
  position: relative;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}
.plakat-content {
  display: none;
  position:fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.plakat:hover .plakat-content {
  display: block;
}

.desc {
  padding: 19px;
  text-align: center;
}


</style>
<div class="plakat" >
  <img src="https://m.media-amazon.com/images/M/MV5BMDk5Yzc4NzMtODUwOS00NTdhLTg2MjEtZTkzZjc0ZWE2MzAwXkEyXkFqcGdeQXVyMTA3MTA4Mzgw._V1_.jpg" alt="1" width="200" height="300">
  </div>


  <div class="plakat">
  <img src=" https://images.squarespace-cdn.com/content/v1/55d442e3e4b0d06bf5f85305/1582119602053-DUZKB3GTHCTJO8EEQTYQ/ke17ZwdGBToddI8pDm48kPCi7e8oYH-8WOBroFqFfMl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k6sq9GEl9ZUDkp1sRKcAyIJFdGeJYtCIwXj2HxA6S4jWmT1Rb8h8AxFvKf8QtQyAA/Brahms+the+boy+2.jpg" alt=1  width="200" height="300">
</div>


  <div class="plakat">
  <img src="https://www.kino.dk/sites/default/files/movie-posters/bad-boys-for-life-plakat.jpg" alt=1 width="200" height="300">
  </div>


  <div class="plakat">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/36/Superman_II.jpg" alt=1  width="200" height="300">
  </div>


  <div class="plakat">
  <img src="https://upload.wikimedia.org/wikipedia/en/9/9a/LikeaBossPoster.jpg" alt=1  width="200" height="300">
  </div>

  <div class="plakat">
  <img src="https://www.kino.dk/sites/default/files/styles/k_poster_big/public/imagefield_default_images/movie-default-poster.jpg?itok=ocJ8dA4P" alt=1  width="200" height="300">
  </div>

   <div class="plakat">
  <img src="https://m.media-amazon.com/images/M/MV5BMTlkMmVmYjktYTc2NC00ZGZjLWEyOWUtMjc2MDMwMjQwOTA5XkEyXkFqcGdeQXVyNTI4MzE4MDU@._V1_UY1200_CR90,0,630,1200_AL_.jpg" alt=1  width="200" height="300">
  </div>

<div class="plakat">
<img src="https://www.kino.dk/sites/default/files/styles/k_poster_big/public/movie-posters/top_gun_maverick_teaserposter.jpg?itok=JtqOW2BT" alt=1  width="200" height="300">
</div>





