<style>
  /* sonic */
.dropdownsonic {
  position: relative;
  display: inline-block;
}
.dropdownsonic-content {
  display: none;
  position:fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownsonic:hover .dropdownsonic-content {
  display: block;
}

.desc {
  padding: 19px;
  text-align: center;
}
/* The boy2 */
.dropdowntheboy2 {
  position: relative;
  display: inline-block;
  line-height:10px;
}
.dropdowntheboy2-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 20px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdowntheboy2:hover .dropdowntheboy2-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}
/* the gentlemen */
.dropdownthegentlemen {
  position: relative;
  display: inline-block;
  line-height:10px;
}
.dropdownthegentlemen-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 20px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownthegentlemen:hover .dropdownthegentlemen-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}
/* topgun2 */
.dropdowntopgun {
  position: relative;
  display: inline-block;
  line-height:10px;
}
.dropdowntopgun-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 20px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdowntopgun:hover .dropdowntopgun-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* badboysforlife */
.dropdownbadboysforlife {
  position: relative;
  display: inline-block;
  line-height:10px;
}
.badboysforlife-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 20px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownbadboysforlife:hover .badboysforlife-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* like a boss */
.dropdownlikeaboss {
  position: relative;
  display: inline-block;
  line-height:10px;
}
.dropdownlikeaboss-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 20px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownlikeaboss:hover .dropdownlikeaboss-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* jurassic world */

.dropdownjurassicworld {
  position: relative;
  display: inline-block;
  line-height:10px;
}
.dropdownjurassicworld-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 20px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownjurassicworld:hover .dropdownjurassicworld-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}
/* superman2 */

.dropdownsuperman2 {
  position: relative;
  display: inline-block;
  line-height:10px;
}
.superman2-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 20px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownsuperman2:hover .superman2-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

</style>
<div class="dropdownsonic">
  <img src="https://m.media-amazon.com/images/M/MV5BMDk5Yzc4NzMtODUwOS00NTdhLTg2MjEtZTkzZjc0ZWE2MzAwXkEyXkFqcGdeQXVyMTA3MTA4Mzgw._V1_.jpg" alt="1" width="150" height="200">
  <div class="dropdownsonic-content">
  <img src="https://m.media-amazon.com/images/M/MV5BMDk5Yzc4NzMtODUwOS00NTdhLTg2MjEtZTkzZjc0ZWE2MzAwXkEyXkFqcGdeQXVyMTA3MTA4Mzgw._V1_.jpg" alt="1" width="300" height="400">
  <div class="desc">Sonic</div>
  </div>
  

  <div class="dropdowntheboy2">
  <img src=" https://images.squarespace-cdn.com/content/v1/55d442e3e4b0d06bf5f85305/1582119602053-DUZKB3GTHCTJO8EEQTYQ/ke17ZwdGBToddI8pDm48kPCi7e8oYH-8WOBroFqFfMl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k6sq9GEl9ZUDkp1sRKcAyIJFdGeJYtCIwXj2HxA6S4jWmT1Rb8h8AxFvKf8QtQyAA/Brahms+the+boy+2.jpg" alt="1" width="150" height="200">
  <div class="dropdowntheboy2-content">
  <img src=" https://images.squarespace-cdn.com/content/v1/55d442e3e4b0d06bf5f85305/1582119602053-DUZKB3GTHCTJO8EEQTYQ/ke17ZwdGBToddI8pDm48kPCi7e8oYH-8WOBroFqFfMl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k6sq9GEl9ZUDkp1sRKcAyIJFdGeJYtCIwXj2HxA6S4jWmT1Rb8h8AxFvKf8QtQyAA/Brahms+the+boy+2.jpg" alt="1" width="300" height="400">
  <div class="desc">The boy 2</div>
  </div>


  <div class="dropdownthegentlemen">
  <img src="https://m.media-amazon.com/images/M/MV5BMTlkMmVmYjktYTc2NC00ZGZjLWEyOWUtMjc2MDMwMjQwOTA5XkEyXkFqcGdeQXVyNTI4MzE4MDU@._V1_UY1200_CR90,0,630,1200_AL_.jpg" alt="1" width="150" height="200">
  <div class="dropdownthegentlemen-content">
  <img src="https://m.media-amazon.com/images/M/MV5BMTlkMmVmYjktYTc2NC00ZGZjLWEyOWUtMjc2MDMwMjQwOTA5XkEyXkFqcGdeQXVyNTI4MzE4MDU@._V1_UY1200_CR90,0,630,1200_AL_.jpg" alt="1" width="300" height="400">
  <div class="desc">the gentlemen</div>
  </div>


  <div class="dropdowntopgun">
  <img src="https://www.kino.dk/sites/default/files/styles/k_poster_big/public/movie-posters/top_gun_maverick_teaserposter.jpg?itok=JtqOW2BT" alt="1" width="150" height="200">
  <div class="dropdowntopgun-content">
  <img src="https://www.kino.dk/sites/default/files/styles/k_poster_big/public/movie-posters/top_gun_maverick_teaserposter.jpg?itok=JtqOW2BT" alt="1" width="300" height="400">
  <div class="desc">topgub</div>
  </div>


  <div class="dropdownbadboysforlife">
  <img src="https://www.kino.dk/sites/default/files/movie-posters/bad-boys-for-life-plakat.jpg" alt="1" width="150" height="200">
  <div class="badboysforlife-content">
  <img src="https://www.kino.dk/sites/default/files/movie-posters/bad-boys-for-life-plakat.jpg" alt="1" width="300" height="400">
  <div class="desc">bad boys for life</div>
  </div>


  <div class="dropdownsuperman2">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/36/Superman_II.jpg" alt="1" width="150" height="200">
  <div class="superman2-content">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/36/Superman_II.jpg" alt="1" width="300" height="400">
  <div class="desc">superman 2</div>
  </div>


  <div class="dropdownlikeaboss">
  <img src="https://upload.wikimedia.org/wikipedia/en/9/9a/LikeaBossPoster.jpg" alt="1" width="150" height="200">
  <div class="dropdownlikeaboss-content">
  <img src="https://upload.wikimedia.org/wikipedia/en/9/9a/LikeaBossPoster.jpg" alt="1" width="300" height="400">
  <div class="desc">like a boss</div>
  </div>

  <div class="dropdownjurassicworld">
  <img src="https://www.kino.dk/sites/default/files/styles/k_poster_big/public/imagefield_default_images/movie-default-poster.jpg?itok=ocJ8dA4P" alt="1" width="150" height="200">
  <div class="dropdownjurassicworld-content">
  <img src="https://www.kino.dk/sites/default/files/styles/k_poster_big/public/imagefield_default_images/movie-default-poster.jpg?itok=ocJ8dA4P" alt="1" width="300" height="400">
  <div class="desc">jurassic world</div>
  </div>




