<!-- Her kan man søge efter film -->
<form action="/Film1" class="getmovie">
  <h1>Find film</h1>

<!-- <input ng-model="search" placeholder="search movie"/>
<th ng-repeat="movie in movie | searchField: 'tittle': 'title' | filter: search">
  {{moviegenre |json}}
</th> -->

<input (keyup)="lookforchange()" type="text" placeholder="Search by tittle or Genre" [(ngModel)]="moviesearchtxt" name="search"/>
<!-- måler om der er skrevet noget eller ej via længden -->
<div *ngIf="moviesearchlist.length >0"><b>Tittle:</b></div>
<!-- hvis der elementer på liste så skal vise  -->
<div *ngFor="let m of moviesearchlist">
<div (click)="loadshowsformovie(m.movieId)">{{m.tittle}}</div><br>
</div><br>
Filmtider: {{showresultforspecikmovie |json}}<br>
<br><div *ngIf="genresearchlist.length >0"><b>Genre</b></div>
<div *ngFor="let g of genresearchlist">
  {{g.genres}}
  </div>


  <br><br>
  <!-- <label for="Genrenumber">Genre:  </label><br> -->
  <!-- <select [(ngModel)]="moviegenre" name="temp" multiple>
    <option *ngFor="let genreobj of genres" [value]="genreobj.genreId">{{genreobj.genres}}</option>
  </select> -->
  <br>
  <label for= "movies">Film</label><br>
  <select [(ngModel)]="moviegenre" name= "movies">
    <option *ngFor="let item of movie" [ngValue]=item >{{item.tittle}}</option>
  </select>
  <br><br>
  <p>Info om filmen</p>
  {{moviegenre |json}}<br>
  <br><br><br>

<!-- søg via genre -->

    <!-- <label for= "genre">Søg via Genre</label><br>
    <select [(ngModel)]="genres" name= "genre">
      <option *ngFor="let items of genres" [ngValue]=items >{{items.genres}}</option>
    </select> -->


  <br><br><p>For at vælge en film, tryk på order knappen for at bestille</p><br>
  <div *ngFor="let movieobj of movie">
    <br><button (click)="orderfrommovie(movieobj)">Ticket</button><br>
    movieId:   {{movieobj.movieId}}<br>
    MovieTittle:  {{movieobj.tittle}}
  </div>
</form>


<!-- gamle forløkker -->
<!-- <div *ngFor="let movieobj of movie">
  <br><button (click)="orderfrommovie(movieobj)">Order seats</button>
  movieId:   {{movieobj.movieId}} | MovieTittle:  {{movieobj.tittle}}| MovieDescription:  {{movieobj.description}}| MovieDescription: {{movieobj.runtime}}
</div> -->

<!-- <h1>Delete</h1>
<h2>Vælg den film der skal slettes fra databasen</h2>
<div *ngFor="let movieobj of movie">
  movieId:   {{movieobj.movieId}} | MovieTittle:  {{movieobj.tittle}}| MovieDescription:  {{movieobj.description}}| MovieDescription: {{movieobj.runtime}}
  <br><button (click)="deleteMovie(movieobj.movieId)">Delete</button>
</div> -->

<!-- forløkke der genrere alle obj -->
<!-- <div *ngFor="let movieobj of movie">
  <br><button (click)="orderfrommovie(movieobj)">Order seats</button>
  movieId:   {{movieobj.movieId}} | MovieTittle:  {{movieobj.tittle}}| MovieDescription:  {{movieobj.description}}| MovieDescription: {{movieobj.runtime}}
</div> -->


