<!-- <form action="/Film">
  <h1>Find film</h1>
  <label for="Tittel"> Tittel:  </label>
  <input type="Filmtitle">
  <br><br><br>
  <label for="Dato">Dato for film:  </label>
  <input type="Dato">
  <button onclick ="getDate">vælg dato</button>
  <br>
  <br>
  <br>
  <button>
    Find film
  </button>
</form> -->
<form action="/Film">
  <h1>Find film</h1>
  <label>Dato</label><br>
  <input type="date">
  <br><br><br>
  <!-- <label>Titel</label><br>
  <input type="tittel"> -->
  <label>Film</label><br>
  <select id="Genre">
    <option value="1">Supermand</option>
    <option value="2">OP</option>
    <option value="3">Frozen2</option>
    <option value="4">Topgun2</option>
    <option value="5">The bouý</option>
    <option value="6">Bad Boys</option>
    <option value="7">Mit liv som rigmand</option>
    <option value="8">The boy 2</option>
    <option value="9">The Gentlemen</option>
    <option value="10">Jeussic World</option>
  </select>
  <br><br><br>
 <label>Genre</label><br>
  <select id="Genre">
    <option value="Gyser">Gyser</option>
    <option value="Komedie">Komedie</option>
    <option value="Romatisk">Romatisk</option>
    <option value="Thriller">Thriller</option>
    <option value="Children">Children</option>
    <option value="Dokumentar">Dokumentar</option>
    <option value="Anime">Anime</option>

  </select>
  <br>
  <br><br>
  <button onclick ="getDate">Find Film</button>
  <br>
  <br>
  <br>
</form>


  <p id="demo"></p>

  <div *ngFor ="let item of movie">
    <p>MovieId {{item.MovieId}} | Moviename: {{item.Tittle}} |Movie Description: {{item.Description}}</p>
    </div>

<script>
   function getDate() {
      var x = document.getElementById("myDate").value;
      document.getElementById("demo").innerHTML = x;}
</script>

